$font-title:40px;
$font-smalltitle:25px;
$font-small:14px;
$color-white:#FFF;
$color-no1:#8A82CC;
$color-no2:#FFA782;
$color-no3:#F5D005;
$color-no4:#559AC8;
$color-footer:#FFD366;
.wrap{
    max-width: 1024px;
    margin: 0 auto;
    .header{
        background: url('../img/Hero.png') no-repeat; 
        text-align: center;
        h1{
            font-size: $font-title;
            color: $color-white;
            padding: 80px 0;
        }
        .area{
            background:$color-white;
            margin-bottom: 100px;
            padding: 10px;
            opacity: 0.7;
            border: 3px solid $color-white;
            border-radius: 3px;
            width: 40%;
        }
        .popular{
            max-width: 70%;
            background: $color-white;
            margin: 0 auto;
            box-shadow: 0 1px 3px 0 ;
            border-radius: 5px;
            h2{
                text-align: left;
                padding:10px;
            }
            button{
                border-radius: 5px;
                width: 100px;
                color:$color-white;
                margin: 10px;
                padding: 2px;
            }
            .no1{
                background: $color-no1;
            }
            .no2{
                background: $color-no2;
            }
            .no3{
                background: $color-no3;
            }
            .no4{
                background: $color-no4;
            }
        }
    }
    .contant{
        .areatitle{
            text-align: center;
            font-size: $font-title;
            color:$color-no1;
        }
        .list{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .area-Introduction{
                box-shadow: 0 1px 3px 0 ;
                margin: 20px;
                width: 320px;
                position: relative;
                .area-img{
                    width: 320px;
                    height: 200px;
                }
                h3{
                    position: absolute;
                    left: 5px;
                    top:160px;
                    font-size:$font-smalltitle;
                    color:$color-white;
                }
                h4{
                    position: absolute;
                    right: 5px;
                    top: 165px;
                    color:$color-white;
                }
                .Introduction{
                    margin: 10px;
                     div{
                        margin: 5px 0;
                    }
                    img{
                        padding-right:5px;                       
                    }
                    .tag{
                       float: right;
                    }
                    .clearfix:after{
                        clear: both;
                        content: '';
                        display:table;
                    }
                }
               
            }
                      
        }
        
    }
    .footer{
        background: $color-no4;
        text-align: center;
        h3{
            color: $color-white;
            padding: 10px;
        }
        p{
            font-size: $font-small;
            color:$color-footer;
            padding-bottom: 10px;
        }
    }
}

